.node circle {
  fill: #fff;
  stroke: black;
  stroke-width: 2px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

.tooltip-inner {
  background: white;
}

.card-title {
  color: black;
}

input {
  min-height: 20px;
}